<%- include ("./partials/header.ejs") %>

    <title>Int Design - Edit </title>
</head>
<body>
    <nav class="navBar navBarEdit">
        <h1><a class="logo" href="/">Intelligent Design</a></h1>
        <div class="navLinks">
            <h2><a class="navLinks" href="/gallery">Gallery</a></h2>
            <h2><a class="navLinks" href="/favorites">Favorites</a></h2>
            <h2><a class="navLinks" href="/gallery/new">Create Listing</a></h2>
            <!-- <h2><a class="navLinks" href="/cart">Cart</a></h2> -->
            <a class="navLinks linkToAccount" href="/my_account"><img class="navLinks profileIcon" src='https://i.postimg.cc/SNK1GfHn/user.png'></a>
        </div>
    </nav>

    <div class="backButton"> 
        <a class="backButton" href="/gallery">&#8592; Back to Gallery</a>
    </div>

    <h1 class="sellHeading">Edit Listing for <%=gallery.name%></h1>
    <br>

    <div class="editPage">
    <img class="editImage" src="<%=gallery.image%>">
    <form class="editForm" action="/gallery/<%=gallery._id%>?_method=PUT" method="POST">
        <label for="image">Change Image</label>
        <input class="editItemDesc" value="<%=gallery.image%>" type="text" name="image">
        <label for="name">Name</label>
        <input class="editItemDesc" value="<%=gallery.name%>" type="text" name="name">
        <label for="price">Price</label>
        <input class="editItemDesc" value="<%=gallery.price%>" type="number" name="price" min="1"><br>
        <label for="description">Description</label>
        <p class="newItemDesc">Talk about your piece. Is it homemade? If not, where was it purchased from? Describe the quality of the piece and remember to mention any damages. 
            <br></br>
            Adding a description helps others decide on purchasing.
        </p>
        <input value="<%=gallery.description%>" placeholder="<%=gallery.description%>" type="text" name="description" class="descriptBox" size="20"><br>
        <label for="tags">Tags</label>
        <input class="editItemDesc tags" value="<%=gallery.tags%>" type="text" name="tags[]"><br>
        <input class="submitButton" type="submit" value="Save Changes">
    </form>
    </div>

    <div class="editSpacer">
    </div>

<%- include ("./partials/footer.ejs") %>