<%- include ("./partials/header.ejs") %>

    <title>Int Design - Gallery</title>
</head>
<body>
    <nav class="navBar navBarFavs">
        <h1><a class="logo" href="/">Intelligent Design</a></h1>
        <div class="navLinks">
            <h2><a class="navLinks" href="/gallery">Gallery</a></h2>
            <h2><a class="navLinks" href="/favorites">Favorites</a></h2>
            <h2><a class="navLinks" href="/gallery/new">Create Listing</a></h2>
            <!-- <h2><a class="navLinks" href="/cart">Cart</a></h2> -->
            <a class="navLinks linkToAccount" href="/my_account"><img class="navLinks profileIcon" src='https://i.postimg.cc/SNK1GfHn/user.png'></a>
        </div>
    </nav>

    <h1 class="favsHeading">Favorites</h1>
    
    <!-- Need conditional too add element when DB is empty -->
    <% if (favorites.length === 0) { %>
        <div class="emptyFavorites">
            <h2>Empty</h4>
            <p>Favorite items from the gallery to view them here.</p>
        </div>
    <% } else { %>
        <% for (let i = 0; i < favorites.length; i++) { %>
        <div class="item itemFav">
            <a href="/gallery/<%=favorites[i].id%>">
                <div class="favItem">
                <img class="itemImageGallery" src=<%= favorites[i].image %> >
                    <div class="favoritesDelete">
                        <h3 class="favDetails"><%= favorites[i].name %> $<%= favorites[i].price%></h3> 
                        
                        <form class="favoritesTrash" action="/favorites/<%=favorites[i]._id%>?_method=DELETE" method="POST">
                            <input class="favTrash" type="image" src='https://i.postimg.cc/xTQsyp6y/trash.png' alt="Delete"/>
                        </form>
                    </div>
                </div>
            </a>
        </div>
        <br></br>
        <% } %>
    <% } %>


    <div class="favSpacer">
    </div>


<%- include ("./partials/footer.ejs") %>