<%- include ("./partials/header.ejs") %>

    <title>Int Design - <%seedData.name%></title>
</head>
<body>
    <nav class="navBar">
        <h1><a class="logo" href="/">Intelligent Design</a></h1>
        <div class="navLinks">
            <h2><a class="navLinks" href="/gallery">Gallery</a></h2>
            <h2><a class="navLinks" href="/my_account/favorites">Favorites</a></h2>
            <h2><a class="navLinks" href="/gallery/new">Create Listing</a></h2>
            <a class="navLinks linkToAccount" href="/my_account"><img class="navLinks profileIcon" src='https://i.postimg.cc/SNK1GfHn/user.png'></a>
        </div>
    </nav>

        <div class="itemShow">
        <img class="itemImage" src=<%= seedData.image %> >
            <span class="details">
                <h3><%= seedData.name %> $<%= seedData.price%></h3>
                <p><%= seedData.description%></p>
                <h5>Tags: <%=seedData.tags.join(' | ')%></h5>
            <button class="addToCart" type="button" name="addToCart">Add to Cart</button>
            </span>
        </div>



<%- include ("./partials/footer.ejs") %>